<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#">Features</a>
            <a class="nav-item nav-link" href="#">Pricing</a>
            <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </div>
    </div>
</nav>



<div class="row" style="width: 100%;">

     <div class="col-8 justify-content-center" >
        <div class="cards"  >
            <div class="card">
                CR
            </div>
            <div class="card">
                Media
            </div>
            <div class="card">
                Porcetagem
            </div>
            <div class="card">
                Faltas
            </div>
        </div>
    </div>


</div>


<div class="row">

    <div class="row1100">
        <div class="content">
            <div id="pie_chart"></div>
        </div>

        <div class="content test">
            <div id="pie_chart2"></div>
        </div>
    </div>


    <div class="contentlarge">
        <div id="line_chart"></div>
    </div>

    <div class="contentlarge">
        <div id="column_chart"></div>
    </div>


    <div class="contentlarge">
        <div id="test"></div>
    </div>




</div>